<div>
    <img class="imageBeer"  src="/images/beer.png" width="400" height="400">
</div>
<div class="first-button">
    <button>
    <a href="/beers">Check the beers!</a>
    </button>
</div> 
<br/>
<div class="second-button">
    <button>
    <a href="/random-beer"> Check a Random beer! </a>
    </button>
</div>